<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Inline Skating Trails</title>
</head>

<body>
    <h1 class="jumbotron">Inline Skating Trail Directory</h1>

    <div class="container">
        <div class="row">
            <!--Alabama-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card area-card">
                    <div>
                        <a href="https://www.traillink.com/stateactivity/al-inline-skating-trails/">
                            <img src= "https://cdn-files.apstatic.com/hike/7032012_smallMed_1496865054.jpg" alt="alabama" width="768" height="511">
                        </a>
                    </div>

                    <div class="card-block area-info">
                        <h3 class="dont-shrink">Alabama</h3>
                        <p>22 Featured Trails</p>
                        <p>267 Reviews</p>
                    </div>
                </div>
            </div>

            <!--Alaska-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card area-card">
                    <a href="https://www.traillink.com/stateactivity/ak-inline-skating-trails/">
                        <div class="area-img lazy" data-original="https://cdn-files.apstatic.com/hike/7003230_smallMed_1429890309.jpg"
                            style="display: block; background-image: url(https://cdn-files.apstatic.com/hike/7003230_smallMed_1429890309.jpg);">
                        </div>
                        <div class="card-block area-info">
                            <h3 class="dont-shrink">Alaska</h3>
                            <p>3 Featured Trails</p>
                            <p>15 Reviews</p>
                            ::after
                        </div>
                    </a>
                </div>
            </div>
            <!--Arizona-->
            <div class="col-lg-3 col-md-4-sm-6">
                <div class="card area-card">
                    <a href="https://www.traillink.com/stateactivity/az-inline-skating-trails/">
                        <div class="area-img lazy" data-original="https://cdn-files.apstatic.com/hike/7004269_smallMed_1431625122.jpg"
                             style="display: block; background-image: url(https://cdn-files.apstatic.com/hike/7004269_smallMed_1431625122.jpg);">
                        </div>
                        <div class="card-block area-info">
                            <h3 class="dont shrink">Arizona</h3>
                            <p>57 Featured Trails</p>
                            <p>187 Reviews</p>
                            ::after
                        </div>
                    </a>
                </div>
            </div>
            <!--Arkansas-->
            <div class="col-lg-3 col-md-4-sm-6">
                <div class="card area-card">
                    <a href="https://www.traillink.com/stateactivity/ar-inline-skating-trails/">
                        <div class="area-img lazy" data-original="https://cdn-files.apstatic.com/hike/7007324_smallMed_1442939802.jpg"
                             style="display: block; background-image: url(https://cdn-files.apstatic.com/hike/7007324_smallMed_1442939802.jpg);">
                        </div>
                        <div class="card-block area-info">
                            <h3 class="dont shrink">Arkansas</h3>
                            <p>44 Featured Trails</p>
                            <p>69 Reviews</p>
                            ::after
                        </div>
                    </a>
                </div>
            </div>
            <!--California-->
            <div class="col-lg-3 col-md-4-sm-6">
                <div class="card area-card">
                    <a href="https://www.traillink.com/stateactivity/ca-inline-skating-trails/">
                        <div class="area-img lazy" data-original="https://cdn-files.apstatic.com/hike/7018146_smallMed_1464326688.jpg"
                             style="display: block; background-image: url(https://cdn-files.apstatic.com/hike/7018146_smallMed_1464326688.jpg);">=
                        </div>
                        <div class="card-block area-info">
                            <h3 class="dont shrink">California</h3>
                            <p>263 Featured Trails</p>
                            <p>928 Reviews</p>
                            ::after
                        </div>
                    </a>
                </div>
            </div>
            <!--Colorado-->
            <div class="col-lg-3 col-md-4-sm-6">
                <div class="card area-card">
                    <a href="https://www.traillink.com/stateactivity/co-inline-skating-trails/">
                        <div class="area-img lazy" data-original="https://cdn-files.apstatic.com/hike/7002724_smallMed_1429034967.jpg"
                             style="display: block; background-image: url(https://cdn-files.apstatic.com/hike/7002724_smallMed_1429034967.jpg);">
                        </div>
                        <div class="card-block area-info">
                            <h3 class="dont shrink">Colorado</h3>
                            <p>87 Featured Trails</p>
                            <p>376 Reviews</p>
                            ::after
                        </div>
                    </a>
                </div>
            </div>
            <!--Connecticut-->
            <div class="col-lg-3 col-md-4-sm-6">
                <div class="card area-card">
                    <a href="https://www.traillink.com/stateactivity/ct-inline-skating-trails/">
                        <div class="area-img lazy" data-original="https://cdn-files.apstatic.com/hike/7053589_smallMed_1542046094.jpg"
                             style="display: block; background-image: url(https://cdn-files.apstatic.com/hike/7053589_smallMed_1542046094.jpg);"></div>
                        <div class="card-block area-info">
                            <h3 class="dont shrink">Connecticut</h3>
                            <p>12 Featured Trails</p>
                            <p>635 Reviews</p>
                            ::after
                        </div>
                    </a>
                </div>
            </div>
            <!--Delaware-->
            <div class="col-lg-3 col-md-4-sm-6">
                <div class="card area-card">
                    <a href="https://www.traillink.com/stateactivity/de-inline-skating-trails/">
                        <div class="area-img lazy" data-original="https://cdn-files.apstatic.com/hike/7021485_smallMed_1470756881.jpg"
                             style="display: block; background-image: url(https://cdn-files.apstatic.com/hike/7021485_smallMed_1470756881.jpg);">
                        </div>
                        <div class="card-block area-info">
                            <h3 class="dont shrink">Delaware</h3>
                            <p>6 Featured Trails</p>
                            <p>204 Reviews</p>
                            ::after
                        </div>
                    </a>
                </div>
            </div>
            <!--District of Columbia-->
            <div class="col-lg-3 col-md-4-sm-6">
                <div class="card area-card">
                    <a href="https://www.traillink.com/stateactivity/dc-inline-skating-trails/">
                        <div class="area-img lazy" data-original="https://cdn-files.apstatic.com/hike/7026350_smallMed_1483564280.jpg"
                             style="display: block; background-image: url(https://cdn-files.apstatic.com/hike/7026350_smallMed_1483564280.jpg);">

                        </div>
                        <div class="card-block area-info">
                            <h3 class="dont shrink">District of Columbia</h3>
                            <p>8 Featured Trails</p>
                            <p>104 Reviews</p>
                            ::after
                        </div>
                    </a>
                </div>
            </div>
            <!--Florida-->
            <div class="col-lg-3 col-md-4-sm-6">
                <div class="card area-card">
                    <a href="https://www.traillink.com/stateactivity/fl-inline-skating-trails/">
                        <div class="area-img lazy" data-original="https://cdn-files.apstatic.com/hike/7018932_smallMed_1465589311.jpg"
                             style="display: block; background-image: url(https://cdn-files.apstatic.com/hike/7018932_smallMed_1465589311.jpg);">
                        </div>
                        <div class="card-block area-info">
                            <h3 class="dont shrink">Florida</h3>
                            <p>112 Featured Trails</p>
                            <p>1734 Reviews</p>
                            ::after
                        </div>
                    </a>
                </div>
            </div>
            <!--Georgia-->
            <div class="col-lg-3 col-md-4-sm-6">
                <div class="card area-card">
                    <a href="https://www.traillink.com/stateactivity/ga-inline-skating-trails/">
                        <div class="area-img lazy" data-original="https://cdn-files.apstatic.com/hike/7025792_smallMed_1481909651.jpg"
                             style="display: block; background-image: url(https://cdn-files.apstatic.com/hike/7025792_smallMed_1481909651.jpg);">

                        </div>
                        <div class="card-block area-info">
                            <h3 class="dont shrink">Georgia</h3>
                            <p>41 Featured Trails</p>
                            <p>450 Reviews</p>
                            ::after
                        </div>
                    </a>
                </div>
            </div>
            <!--Hawaii-->
            <div class="col-lg-3 col-md-4-sm-6">
                <div class="card area-card">
                    <a href="https://www.traillink.com/stateactivity/hi-inline-skating-trails/">
                        <div class="area-img lazy" data-original="https://cdn-files.apstatic.com/hike/7004472_smallMed_1432168094.jpg"
                             style="display: block; background-image: url(https://cdn-files.apstatic.com/hike/7004472_smallMed_1432168094.jpg);">
                        </div>
                        <div class="card-block area-info">
                            <h3 class="dont shrink">Hawaii</h3>
                            <p>3 Featured Trails</p>
                            <p>28 Reviews</p>
                            ::after
                        </div>
                    </a>
                </div>
            </div>
            <!--Idaho-->
            <!--Illinois-->
            <!--Indiana-->
            <!--Iowa-->
            <!--Kansas-->
            <!--Kentucky-->
            <!--Louisiana-->
            <!--Maine-->
            <!--Maryland-->
            <!--Massachusetts-->
            <!--Michigan-->
            <!--Minnesota-->
            <!--Mississippi-->
            <!--Missouri-->
            <!--Montana-->
            <!--Nebraska-->
            <!--Nevada-->
            <!--New Hampshire-->
            <!--New Jersey-->
            <!--New Mexico-->
            <!--New York-->
            <!--North Carolina-->
            <!--North Dakota-->
            <!--Ohio-->
            <!--Oklahoma-->
            <!--Oregon-->
            <!--Pennsylvania-->
            <!--Rhode Island-->
            <!--South Carolina-->
            <!--South Dakota-->
            <!--Tennessee-->
            <!--Texas-->
            <!--Utah-->
            <!--Vermont-->
            <!--Utah-->
            <!--Vermont-->
            <!--Virginia-->
            <!--Washington-->
            <!--West Virginia-->
            <!--Wisconsin-->
            <!--Wyoming-->

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>